@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&family=Tilt+Warp&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tilt Warp', cursive;
    list-style: none;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    box-shadow: 1px 1px 1px 1px rgb(143, 141, 141);
    position: sticky;
    top: 0;
    z-index: 111;
    padding:0 20px 0 20px;
}

.logo {
    margin-left: 12px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

header .logo img {
    height: 40px;
    width: 40px;
    border: 2px solid rgb(176, 173, 173);
    border-radius: 50%;
    outline: 2px solid blue;
}

header .logo span {
    margin: 12px;
}

#listItem {
    float: right;
    display: flex;
}

#listItem a {
    margin: 12px;
    font-size: 12px;
    color: rgb(59, 58, 58);
    transition:  0.5s ease;
}

#listItem a:hover {
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 2px solid rgb(176, 173, 173)
}
.icon{
    margin-right: 20px;
}
.icon i{
    position: absolute;
    display: none;
}
#cancel{
    display: none;
}
span{
    color: orange;
}
section{
    margin: 0 50px;
}
.hero{
    margin-top: 54px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background: #efeaea;
}
.hero-img img{
    width: 300px;
    height: auto;
    align-items: center;
    animation: dyams 2s infinite;
}
.hero-heading{
    text-align: center;
    line-height: 22px;
    letter-spacing: 2px;
}

@keyframes dyams {
    10%{
        transform: scale(1.1);
    }
    
}

.title h2{
    text-align: center;
    letter-spacing: 2px;
}
.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 12px;
    padding: 12px;

}
.card-item{
    margin: 12px;
    border:  2px solid rgb(75, 72, 72);
    border-radius: 5px;
}
.card-item img{
    width: 200px;
    height: 150px;
    border-radius: 4px;
    transition: all 0.2s;
    cursor: pointer;
}

.card-item img:hover{
    transform:scale(0.9);
}
.cart-abt span{
    bottom: 25px;
    position: relative;
    padding: 10px;
    color: green;
    border-radius: 50%;
    float: right;
    margin-right: 12px;
    cursor: pointer;
}
.cart-abt span:hover{
    background: green;
    color: white;
}
.card p,h4{
    margin-left: 12px;
    font-size: 12px;
    line-height: 24px;
    color: rgb(66, 67, 67);
}
.cart-abt p i{
    color: orange;
}
.about-section{
    display: flex;
}
.about h2{
    text-align: center;
    color: orange;
}

.about-img img{
    width: 400px;
    height: 200px;
}
.contact{
    text-align: center;
    height: 100vh;
    width: 80vw;
    margin-top: 20px;
    padding-right: -12px;
    margin-right: 0px;

}
textarea{
    resize: none;
    outline: 1px solid black;
}
.contact{
    margin-left: 12px;
}
.contact .btn{
    margin-left: -100px;
    background-color: orange;
    height: 30px;
    width: 60px;
    outline: none;
    border: none;
    border-radius: 12px;
    cursor: pointer;

}
input{
    outline: 1px solid black;
}